* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

canvas {
  display: block;
}

.joystick {
  background-color: transparent;
}

.bg {
  position: absolute;
  z-index: -1;
}